section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
   
    
}
div {
    width: 70%;
    height: 90%;
    background-image: url("https://wallpapers.oneindia.com/ph-1024x768/2013/10/bahubali_138252361510.jpg");
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    animation: slider 15s linear infinite;
}

@keyframes slider {
    0% {
        background-image: url("https://media.assettype.com/tnm%2Fimport%2Fsites%2Fdefault%2Ffiles%2Fupendra.jpg?w=768&auto=format%2Ccompress&fit=max");
        background-position: center;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    25% {
        background-image: url("https://wallpapers.com/images/high/allu-arjun-1889-x-1360-picture-38h3s2zkr9zd76xp.webp");
        background-position: center;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: 100%;

    }

    50% {
        background-image: url("https://assets.thehansindia.com/h-upload/2022/12/10/1324325-95221886.webp");
        background-position: center;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: 100%;

    }

    75% {
        background-image: url("https://feeds.abplive.com/onecms/images/uploaded-images/2023/05/19/f8ac7a8e2f833a037be65f6b7e5ff4ae1684504494306396_original.jpg?impolicy=abp_cdn&imwidth=1200&height=675");
        background-position: center;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: 100%;

    }

    100% {
        background-image: url("https://images.indianexpress.com/2024/11/Allu-Arjuns-Pushpa-2-creates-records-in-the-USA.jpg?w=640");
        background-position: center;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: 100%;

    }



}